4.3 Final Task Intro to Pandas

In [65]:
import pandas as pd

In [66]:
import numpy as np

In [67]:
import os

In [84]:
path = r'C:\Users\reece\InstaCart Basket Analysis 4.4.23\Data\Original Data'

In [85]:
path

'C:\\Users\\reece\\InstaCart Basket Analysis 4.4.23\\Data\\Original Data'

In [87]:
df = pd.read_csv(os.path.join(path, 'orders.csv'), index_col=False)

In [89]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [91]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [93]:
file_path = 'C:/Users/reece/InstaCart Basket Analysis 4.4.23/Data/Original Data'

In [95]:
df_prods = pd.read_csv(os.path.join(path, 'products.csv'), index_col=False)

In [96]:
print(df_prods.columns)

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [97]:
df_prods.shape

(49693, 5)

What is max value of aisle_id column? - 134

whas the data type of the departmentid column - float64(1), int64(3), object(1)

In [99]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49693 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [98]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000